altgraph
annotated-types
anyio
cachetools
certifi
cffi
charset-normalizer
cobble
cryptography
distro
docopt
docstring_parser
dotenv
et_xmlfile
google-api-core
google-auth
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-genai
google-oauth
google-resumable-media
googleapis-common-protos
grpc-google-iam-v1
grpcio
grpcio-status
h11
httpcore
httpx
idna
lxml
mammoth
numpy
openpyxl
packaging
pefile
pillow
pipreqs
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pycryptodome
pydantic
pydantic_core
pyinstaller
pyinstaller-hooks-contrib
pyOpenSSL
PyPDF2
PyQt5
PyQt5-Qt5
PyQt5_sip
PyQtWebEngine
PyQtWebEngine-Qt5
pytesseract
python-dateutil
python-docx
python-dotenv
pywin32-ctypes
requests
rsa
setuptools
shapely
six
sniffio
soupsieve
tenacity
typing-inspection
typing_extensions
urllib3
vertexai
websockets
yarg
